.information{
    font-size:large;
}
.sideBar{
    font-size: 2vh;
    font-weight: 5000;
    position:absolute;
    top :auto;
    right:0px;
    width: 20%;
    background-color:#10316B;
    
    // height: 85vh;
    /* color : white; */
}
.side{
    display:grid;
    grid-template-rows: auto auto auto auto auto;
    row-gap:5px; 
}
.side ul{
    /* margin-left : 60px; */
    display:none;
    text-align: center;
}
.side li{
    position:relative;
    text-align: center;
    font-size: 3vh;
    margin:10px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

.optiondecoration li:hover{ // li inside the option decoration class will have this hovering effect
    color: #FFAD22;
    font-size: 30px;
    text-decoration: underline #FFAD22;
    text-underline-offset: 10px;
}